@font-face {
    font-family: 'DejaVu Serif';
    src: url('../fonts/DejaVuSerif.woff2') format('woff2'),
        url('../fonts/DejaVuSerif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import "normalize";
@import "layout";
@import "elements";

body{
	background: #666;
	background-size: cover;
	font-family: 'DejaVu Serif', Arial, sans-serif;
	color: #000;
	font-size: 55px;
}
.ba-hide{
	display: none;
}
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1346px;
}
.ba-card-list{
	display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
	margin: 50px 0;
}
.ba-card{
	position: relative;
	perspective: 800px;
	&:hover{
		.ba-card-front{
			transform: rotateY(180deg);
		}
		.ba-card-back{
			transform: rotateY(0deg);
		}
	}
}
.ba-card-front,
.ba-card-back{
	width: 317.5px;
	height: 444.5px;
	border-radius: 30px;
	margin-right: 20px;
	margin-top: 20px;
}
.ba-card-front{
	display: flex;
	background-color: #fff;
	transition: transform 0.7s ease-in-out, background 0.7s ease-in, -webkit-transform 0.7s ease-in-out;
}
.ba-card-back{
	position: absolute;
	top: 0;
	left: 0;
	background: #fff url(../img/card-back.svg);
	background-size: cover;
	backface-visibility: hidden;
	transform: rotateY(-180deg);
	transition: transform 0.7s ease-in-out, background 0.7s ease-in, -webkit-transform 0.7s ease-in-out;
}
.ba-left,
.ba-right{
	width: 12.5%;
	height: 100%;
}
.ba-center{
	width: 75%;
	height: 100%;
}
.icon{
	height: 64px;
	width: 64px;
}
.ba-column{
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}
.ba-center-row{
	display: flex;
	justify-content: center;
	height: 100%;
}
.ba-number-suit{
	font-size: 0;
	.icon{
		height: 32px;
		width: 32px;
	}
}
.ba-number,
.ba-number-suit{
	text-align: center;
}
.ba-right{
	transform: rotate(180deg);
}
.ba-rotate-180{
	transform: rotate(180deg);
}
.ba-midle-midle-top{
	position: absolute;
    top: 140px;
}
.ba-midle-top{
	position: absolute;
    top: 100px;
}
.ba-midle-bottom{
	position: absolute;
    top: 260px;
}
.ba-midle-center-text{
	display: flex;
	justify-content: center;
	align-items: center;
    font-size: 100px;
    font-weight: 900;
}
.ba-red{
	color: red;
    fill: red;
}